<?xml version="1.0"?>
<launch>

	<!-- node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="1.0 0.0 0.18 0.0 0.0 0.0 /map /laser 100"/-->

    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0.2 0.0 0.1 0.0 0.0 0.0 base_link laser 100"/>
    <!-- node pkg="tf" type="static_transform_publisher" name="base_to_odom" args="0.1 0.0 0.08 0.0 0.0 0.0 odom base_link 100"/-->

</launch>
